* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --gray: #c1c1c1;
  --black: #000;
  --primary: #8a2be2;
  --warning: #ecd900;
  --error: #ff0000b6;
}

a {
  text-decoration: none;
  color: var(--white);
  padding: 0 1rem;
}

a:hover { 
  opacity: 0.9; 
  color: var(--black);
}

body{ min-height:100vh; margin:0; position:relative; }
header{ min-height:50px; background:lightcyan; }

body::after {
  content: '';
  display: block;
  height: 50px; 
}
